<div class="parent">
  <div data-test="component-container" class="component-container">
    <ng-container>
      <div class="table-container">
        <table data-test="table-customer">
          <thead>
          <tr>
            <th>firstName</th>
            <th>lastName</th>
            <th>age</th>
            <th>gender</th>
            <th>email</th>
            <th>phone</th>
            <th>eyeColor</th>
            <th>birthdate</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of customers.source.source.source._value.payload.users">
            <td>{{item?.firstName}}</td>
            <td>{{item?.lastName}}</td>
            <td>{{item?.age}}</td>
            <td>{{item?.gender}}</td>
            <td>{{item?.email}}</td>
            <td>{{item?.phone}}</td>
            <td>{{item?.eyeColor}}</td>
            <td>{{item?.birthdate}}</td>
            <td class="action">
              <img src="assets/icons/recycle.svg" alt="" width="25" height="25" (click)="delete(item.email)">
              <img src="assets/icons/edit.svg" alt="" width="25" height="25" (click)="edit(item.email)">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
